* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    background-color: darkslategray;
    color: white;
    padding: 10px;
}

h1,
h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

ul {
    padding-left: 40px;
    font-size: 1.1em;
    font-family: 'Mulish', sans-serif;
}

p {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Mulish', sans-serif;
}

.card {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 5px #88888822;
    border-radius: 10px;
    padding: 20px;
}